{% extends "layout.html" %}
{% block title %}{{ registry }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
            	<thead>
        			<tr>
        				<th>Repository</th>
        				<th>Tags</th>
        			</tr>
        		</thead>
                <tbody>
                    {%- for repo in repos %}
                    <tr>
                        <td><a href="images/{{ repo.name }}">{{ repo.name }}</a></td>
                        <td>{{ repo.tags }}</td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}