{% extends "layout.html" %}
{% block title %}<a href="/">{{ registry }}</a> / <a href="/images/{{ name }}">{{ name }}</a> : {{ tag }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
            	<!-- Default panel contents -->
            	<div class="panel-heading">ID: {{ id }}</div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Command</th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%- for data in layers %}
                        <tr>
                            <td>{{ data.id|truncate(15, True) }}</td>
                            <td>{{ data.command }}</td>
                            <td>{{ data.size }}</td>
                        </tr>
                    {%- endfor %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-9 text-left">Digest: {{ digest }}</div>
                        <div class="col-md-3 text-right">Total size: {{ totalSize }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}